div.product-projection-summary-list
  div v="{{product.projection.inventoryStates.stockCritical.day}}" ng-repeat="product in vm.products | orderBy:'projection.inventoryStates.stockCritical.day':false"
    div.product-projection-container
      product-projection-summary product="product" handle-selection="vm.displayDetail(product)"
