.product-projection-summary-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	.product-projection-container {

		width: 250px;
		border: solid black 1px;
		margin-bottom: 20px;
		cursor: pointer;
		position: relative;

		.tweak-indicator {
			position: absolute;
			top: 0;
			right: 0;
			width: 20px;
			padding-top: 5px;
			height: 20px;
			color: black;
			text-align: center;
		}
		.product-projection-summary {
			display: flex;
			flex-flow: column;
			align-content: center;
			justify-content: space-between;

			.when-container {
				display: flex;
				flex-flow: row;

				.when {
					width: 60%;
				}

				.details {
					.fa {
						padding-left: 4px;
						padding-right: 20px;
					}

					width: 40%;
					height: 50px;
					margin-top: 10px;
					padding: 5px;
					//box-shadow: 1px 1px 3px 1px black;
				}
			}

			&.status-critical {
				background-color: $critical-color;
				color: white;


				.details {
					border: 1px solid $critical-contrast-color;
					border-right: none;
					background-color: black;
				}
			}

			&.status-warning {
				background-color: $warning-color;
				color: black;


				.details {
					border: 1px solid $warning-contrast-color;
					border-right: none;
					background-color: $critical-color;
					color: $critical-contrast-color;
				}
			}
			&.status-ok {
				background-color: $ok-color;
				color: black;


				.details {
					border: 1px solid $ok-contrast-color;
					border-right: none;
					background-color: $ok-accent-color;
				}
			}

			.name {
				text-align: center;
				font-size: 20px;
			}

			.time {
				text-align: center;
				font-size: 42px;
			}

			.time-period {
				font-size: 22px;
				text-align: center;
			}
		}
	}
}
