.tweak-list-header {
  background-color: #F5F5F5;
  text-align: center;
}
.tweak-list-item {
  .tweak-type, .tweak-date, .tweak-channel,
  .tweak-source, .tweak-quantity, .tweak-customer {
    float: left;
    padding-right: 10px;
  }
}
